<div>
  <p-table [value]="countries">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name</th>
        <th>Flag</th>
        <th pSortableColumn="capital">Capital</th>
        <th pSortableColumn="inhabitants">Population</th>
        <th pSortableColumn="area">Area</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country>
      <tr>
        <td (click)="countryDetail(country)">{{ country.name }}</td>
        <td><img src="{{ country.flag }}" alt="Flag of {{ country.name }}" height="20px"></td>
        <td>{{ country.capital }}</td>
        <td>{{ country.inhabitants }}</td>
        <td>{{ country.area }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-country-detail [country]="country" [visible]="countryDialog" (closed)="countryDialog">
</app-country-detail>
